<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recuperar/recuperar.css">
    <title>Change password</title>
</head>
<body>
    <div class="form_container">
        <div class="form_white">
            {{!-- <div class="form_blue"> --}}

                <div class="form">
                    <h1>Change password</h1>
                    <form action="/recuperar_cuenta/resetear_password" method="post">
                        <p>
                            <label for="password">Ingresa contraseña</label>
                        </p>
                        <p>
                            <input id="password" type="password" name="password" placeholder="password" required>
                        </p>
                        <p>
                            <label for="password2">Repite la contraseña</label>
                        </p>
                        <p>
                            <input id="password2" type="password" name="password2" placeholder="repeat password" required>
                        </p>
                        <p><button>cambiar contraseña</button></p>
                        {{!-- ◀ &nbsp; --}}
                        {{!-- <p>{{#if (sesion) }} <span> {{ sesion }}</span> {{/if}}</p> --}}
                        {{!-- al parecer entre parentisis es invalido --}}
                        {{!-- <p>{{#if sesion}} <span> {{ sesion }}</span> {{/if}}</p> --}}
                    </form>
                </div>
            {{!-- </div> --}}
        </div>
    </div>
</body>
</html>