<link rel="stylesheet" href="css/contacto.css">
<div id="contacto">
    <div>
        <h3 class="titulo_contacto">Soporte</h3>
        <form action="" method="post">
            <p><label for="mensaje">mensaje para el soporte técnico</label></p>
            <p><input type="text" name="mensaje" id="mensaje" placeholder="indique el problema" required></p>
            <p><input type="submit" value="enviar"></p>
        </form>
    </div>
    <a class="icon_contacto" href="https://api.whatsapp.com/send?phone=5491140839954&text=Hola,%20buenas"></a>

</div>