<link rel="stylesheet" href="css/menu.css">
<nav>
    <!-- <div id="menu"> -->
        <div id="menu-1">
            <a href="/">inicio</a>
            <a href="/mostrar_productos">productos</a>
            <a href="#contacto">contacto</a>
        </div>
        <div id="menu-2">
            <a href="/iniciar_sesion">iniciar</a>
            <a href="/registrar_cuenta">registrarse</a>
        </div>
    <!-- </div> -->
</nav>